{% extends 'beverage/base.html' %}

{% block main_area %}

{% if messages %}
    <div class="messages">{{ message }}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="mytitle">
   <h2><strong>메뉴판</strong></h2>
</div>

<section class="py-5">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                  {% for p in beverage_list %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="{{ p.get_absolute_url }}"><img class="card-img-top" src="{{ p.image.url }}" alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">

                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ p.name }}</h5>
                                    <!-- Product price-->
                                    {{p.price}}원
                                </div>
                            </div>
                            <!-- Product actions-->
                            {% if user.is_authenticated %}
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <form action="/sale/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="product" value="{{ p.name }}">
                                        <input type="hidden" name="price" value="{{ p.price }}">
                                        <button type="submit" class="btn btn-outline-dark mt-auto">판매</button>
                                    </form>
                                </div>
                             </div>
                            {% endif %}
                        </div>
                    </div>
                  {% endfor %}
                  <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[18]_20210426095514018.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">새 음료</h5>
                                    <!-- Product price-->
                                    {{p.price}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/menu/create_beverage">추가하기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}