{% extends 'beverage/base.html' %}

{% block main_area %}
<div class="mytitle">
  <h2><strong>재고관리</strong></h2>
</div>

<section class="py-5">
  <div class="container px-4 px-lg-5">
    <div class="row">
        <div class="d-flex align-items-center justify-content-center">
          <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">이름</th>
        <th scope="col">재고</th>
      <th scope="col">최소 유지 수량</th>
        <th scope="col">발주량</th>
      <th scope="col">유통기한</th>
    </tr>
  </thead>
  <tbody>
  {% for p in ingredient_list %}
      <tr class="{% if p.is_expired %}table-danger{% elif p.need_order %}table-warning{% else %}table-secondary{% endif %}">
      <th scope="row">{{p.name}}</th>

          <td>{{p.stock}}</td>
          <td>{{p.min_stock}}</td>
          <td>{{p.order_quantity}}</td>
          <td>{{p.exp_date}}</td>
          <td><a href="/stock/order/{{p.pk}}"><button type="button" class="btn btn-primary btn-sm btn-outline-light">발주</button></a></td>
          <td><a href="/stock/update/{{p.pk}}"><button type="button" class="btn btn-primary btn-sm btn-outline-light">편집</button></a></td>
          <td><a href="/stock/delete/{{p.pk}}"><button type="button" class="btn btn-primary btn-sm btn-outline-light">삭제</button></a></td>
    </tr>
  {% endfor %}
  </tbody>
          </table>
        </div>
        <div class="d-grid gap-2">
        <a href = "/stock/create/" class="btn btn-primary btn-outline-primary" type="button">추가하기</a>
    </div>

  </div>

</section>

{% endblock %}